
/*======== GENERAL STYLES =========*/

html
{
	height:100%;
	
}

header
{
	background:#a62e41;
	padding:10px;	
}


#main-navigation h2 { display:none; }

 .menu-icon
 {
		 
 }
 
 
 .box
 {
	background:#333;
	color:#fff;		 
 }
 

 
 
 
 /*========== MEDIA QUERIES Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) 
	{
		
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) 
	{
		
    }

    /* Small Devices, Tablets col-sm */
    @media only screen and (min-width : 768px) 
	{	
		
		
		
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) 
	{
		
		body
		{
			/* background:#8a181a; */	
		}
		
		.wrap.container
		{
			-webkit-border-bottom-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-bottomright: 10px;
			-moz-border-radius-bottomleft: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			
			background-color:#fff;
			min-height:400px;	
		}
		
		
		footer.container
		{
			-webkit-border-radius: 100px/50px;
			-moz-border-radius: 100px/50px;
			border-radius: 100px/50px;
			border:1px solid #fff;
			
				
		}
		
		
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) 
	{
		
	
 	
    }



    