
body 
{
	background:rgb(123,121,143);	
}

.container
{
	width:960px;
	margin:0 auto;
	font:100% Georgia, "Times New Roman", Times, serif;
	background:#fff;	
}

header
{
	background:rgb(76, 67, 65);
	margin-bottom:20px;
}

header h1 
{
	text-align:center;
	color:white;
	font:normal 2em Arial, Helvetica, sans-serif;
	line-height:4em;
	text-transform:uppercase;
	letter-spacing::.1em;
	margin:0;	
}



aside
{
	float:right;
	width:266px;
	height:500px;
	padding:20px;
	background:rgb(173, 169, 130);	
}

.col1
{
	background:rgb(237,228,214);
	height:500px;
	float:left;
	padding:20px;
	width:266px;	
}


.col2
{
	background:rgb(219,126,64);
	height:500px;
	float:right;
	padding:20px;
	width:266px;		
}


article
{

	overflow:hidden;		
}

section
{
	
	padding-bottom:1000em;
	margin-bottom:-1000em;	
}

.eq1 { float:left;
		background:rgb(237,228,214); 
		width:662px;
		padding-top:20px;
		}

.eq2 { float:right; 
		background:rgb(219,126,64); 
		width:278px;}


footer
{
	background:rgb(100, 98, 102);
	line-height:3em;
	font-size:.6em;
	color:white;
	padding:0.2em;
	text-align:center;
	clear:both;
}